.container.profile
  %br
  .main.row
    .col-md-3
      = render "my/shared/menu", current: "payments"
    .col-md-9
      .panel.panel-default
        .panel-heading
          %h4= fa_icon("money", text: "Payments")
        .panel-body
          =# render "payments", user: @user, payments: @payments
