= simple_form_for [:admin, workshop] do |f|
  = f.input :name
  = f.input :title
  = f.button :button, class: "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating workshop..." }
