.container.profile
  %br
  .main.row
    .col-md-3
      = render "my/shared/menu", current: "profile"
    .col-md-9
      = render "profile", user: @user
      = render "billing", user: @user, membership: @user.alumni_membership
