= minimal_form_for :session, url: session_path do |f|
  = f.input :email, placeholder: "Email address"
  = f.input :password, placeholder: "Password"
  = f.button :button, "Sign in", class: "btn btn-primary btn-block"
