= simple_form_for meeting_form, url: [:admin, workshop, :meetings], html: { class: "form-horizontal" }, |
  wrapper: :horizontal_form do |f|
  .form-inputs
    = f.input :title
    = f.input :date
  .form-actions.col-md-offset-3
    = f.button :button, "Create Meeting", class: "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating meeting..." }
