= link_to fa_icon("users", text: "Users"), admin_users_path, class: "button large secondary"
%br/
= link_to fa_icon("bullhorn", text: "Intro Meetings"), admin_intro_meetings_path, class: "button large secondary"
