%ul.side-nav
  %li= link_to fa_icon("users", text: "Users"), admin_users_path, class: "button large secondary"
  %li= link_to fa_icon("bullhorn", text: "Intro Meetings"), admin_intro_meetings_path, class: "button large secondary"
  %li= link_to fa_icon("book", text: "Workshops"), admin_workshops_path, class: "button large secondary"
