%article
  .row
    .large-6.columns
      %p
        Breakthrough is a community of men dedicated to making real change in the quality of men’s lives.
      %p
        Breakthrough was created by Fred Jealous, a community leader and teacher, and has empowered hundreds of men to begin to create the lives they have always wanted. Breakthrough is a non-profit organization founded and created in 1987 by Fred Jealous, a community leader and teacher, to provide men with skills to free themselves from non-productive, painful, or abusive aspects of their lives.
      %p
        For each Breakthrough graduate, this includes gaining the ability to eliminate negative self-images, and to take control of anger, fear, addictions, shame, and hopelessness. Breakthrough graduates discover their true power as men, and begin to realize their full potential as fathers, husbands, partners, friends, and as leaders. This is accomplished in a way which respects and honors each man’s uniqueness and personal history, as well as that of the other people in their lives.
      %p
        The Breakthrough program offers all of this in a supportive group-learning setting in Monterey County. Breakthrough provides a resource for men who want to reassess and enhance the direction of their lives.
    .large-6.columns
      .panel
        %h4 Our Vision
        %p To create community by championing the full humanity and gifts of all men and women.

        %h4 Our Mission
        %p
          To educate, support and encourage all men to reclaim their hearts from the violence we have received and perpetuated. To do this by acknowledging each man’s unique family, class, cultural, sexual, “racial”, and religious backgrounds and by empowering him to participate more fully and confidently in his family and in his social and professional worlds. The foundation of this is the Breakthrough Men’s Community education program. The natural extension of this commitment brings us to:
          %ul
            %li Promote clear and positive thinking about ourselves, others, and the world.
            %li Celebrate uniqueness and break free from restrictive rules imposed by society.
            %li Create community support systems and encourage all people to act as leaders, allies, and advocates.
            %li Act in conjunction with other like-missioned organizations.
