%h4 Support Breakthrough with a Donation
%br/
%p
  = link_to donate_path, class: "btn btn-default btn-lg btn-primary pull-right" do
    %span.glyphicon.glyphicon-heart
    Donate Now
  We want to make Breakthrough available to all men who want to make positive change in their lives. Please consider making a donation to support scholarships for lower income men.
