%article
  %h3
    A BRIEF HISTORY OF THE BREAKTHROUGH MEN’S COMMUNITY
  %p
    BREAKTHROUGH MEN’S COMMUNITY, a nonprofit corporation providing a community workshop for all men, has been in continuous operation since the Fall of 1987. My belief was, and is that men in our society need a safe place to heal the wounds caused by the male role conditioning each of us has been subjected to since childhood. That role denies the true humanity of each man and results in unfulfilled lives, often marked by addictions, difficulties with relationships, various forms of abuse, isolation, and lack of a spiritual foundation for living. My own profound dissatisfaction with my boyhood experience of what being a male was supposed to mean was the catalyst that led me to question the wisdom of this programming and to begin my own journey to reclaim my humanity.
  %p
    My experience as a teacher, my two years in rural Turkish culture, and the wisdom I found in the teachings of the Feminist Movement, Pia Melody, Charlie Kreiner, and Re-evaluation Counseling were some of the inspirations for the program which became BREAKTHROUGH Phases 1 & 2. With the encouragement of dedicated and enthusiastic volunteers, a format was developed to help teach BREAKTHROUGH to the ever increasing number of men who sought us out. In 1993, a manual was created and graduates were trained to lead small groups. In order to keep our graduates from slipping back into old habits, we established BREAKTHROUGH’s ongoing support groups – Phase 3. It is through these groups and workshops within the community that we continue to move beyond our deepest insecurities creatively and optimistically.
  %p
    My dream that healing and reclaiming the human spirit could be a peer-led community activity was coming true. In 1996, a few men took on the role of teacher, freeing me for other work and allowing classes to grow in frequency. Community volunteers acting as administrators and our board of directors have helped insure the continued success of BREAKTHROUGH.
  %p
    BREAKTHROUGH has evolved and engendered good work. In 1993 I made my manual available to Janet Thomas to develop a similar program for women. This hugely successful program, called BREAKFREE, has helped many women reclaim their own humanity. During this same period, I founded a local chapter of the National Coalition Building Institute, an organization dedicated to ending all types of oppression.
  %p
    Since 2000, we have grown in a way that allows us to offer more classes for more men. By now, over 1500 men have been through our program. Author and teacher, David Richo, has become a friend and resource, allowing us to improve critical areas of our program and to offer David’s knowledge to the wider community in workshops for women and men.
  %p
    BREAKTHROUGH has been more successful than my early fears let me believe it could be. One of my life’s joys is to be able to both shepherd and participate in such a vibrant community working together to create more fulfilling lives for ourselves and assist others to do the same.
  %p
    %h4
      Fred Jealous
      %small Founder/Director
