%table#meetings.table.table-hover
  %thead
    %tr
      %th Meeting #
      %th Meeting Date
  %tbody
    - meetings.each do |meeting|
      %tr{class: "#{'warning' if meeting.starts_at < Time.zone.now}"}
        %td= "Meeting #{meeting.meeting_number}"
        %td[meeting]= meeting.starts_at.strftime("%B %e, %Y")
