%section
  %h3
    Breakthrough I
    %small “Reclaiming Our Lives”
  %p
    This is an interactive educational workshop for all men who want to reclaim a fuller sense of who they are in relationship to themselves, others and their dreams. We will form a supportive community to learn new tools for valuing, protecting and expressing our uniqueness as fully human males. We will look at how the hurtful treatment of us as boys has too often left us isolated, confused, desperate, angry, troubled in close relationships and getting less enjoyment from life than we know is possible. Our addictions to alcohol, drugs, sex, work, perfection, love, etc. have not served us well; therefore we will challenge patterns of the “male role” that deny our full humanity and limit our ability to be close and loving to ourselves and others in our lives. We will assist each other to think well of ourselves, heal and move on. We will support each man to work at his unique pace.

  %h3
    Breakthrough II
    %small “Leading Together to Create our Lives”
  %p
    Men who complete Breakthrough I are encouraged and invited to participate in this training to run their own groups. We all need a strong community to remind us to think well of ourselves, to keep challenging old destructive patterns, which tend to isolate us and to support us to create precisely the kinds of lives we want. As a participant, you will be trained to give and receive attention and support, and you will discover the unique and significant contribution you can make to the creation of a safe, loving, energetic community for yourself and other men. As we move forward together, learning to trust ourselves and each other more, we will bring more love, creative energy, possibilities, commitment and joy to our lives, the lives of the women, children and other men close to us, to our community and to the world.

  %h3
    Breakthrough III
    %small “Your Men’s Community”
  %p
    As a graduate of the Breakthrough program, you will have an opportunity to create and participate in an ongoing self-supporting group, and you will join other members of the men’s community who meet weekly to continue with the self-discovery that is Breakthrough.
  %p
    There is no cost for this group and you can share resources with other groups. This community provides a base of support from which to continue your journey. Members of the full community come together for workshops, retreats, pot lucks and music nights with friends and family, recreation, community building with other organizations and workshops with women to support our mutual liberation. We fully recognize the inherent value of all people and joyfully challenge ourselves to build the human community we really want.
