%p{"data-role" => "description"} Thanks for looking into Breakthrough.

%p Upcoming Free Introductory Meetings

%ul
  - @intro_meetings.each do |meeting|
    %li.intro_meeting
      = meeting.starts_at.to_date
