.row
  .col-md-4
    %ul.nav.nav-pills.nav-stacked
      - is_first = true
      - @sections.each do |section|
        %li{class: is_first ? "active" : ""}= link_to section.title, "#section-#{section.id}", "data-toggle" => "pill"
        - is_first = false
  .col-md-8
    .tab-content
      - is_first = true
      - @sections.each do |section|
        .tab-pane{id: "section-#{section.id}", class: is_first ? "active" : ""}
          - is_first = false
          %section
            = render "schedule", section: section, meetings: section.meetings.order(:created_at)
