.tabbable
  %ul.nav.nav-tabs
    %li
      = link_to fa_icon("chevron-left"), [:admin, user]
    - if user.alumni?
      %li{class: ("active" if current == "show")}
        = link_to fa_icon("info-circle", text: "Show"), [:admin, user, :alumni_membership]
      %li{class: ("active" if current == "edit")}
        = link_to fa_icon("pencil", text: "Edit"), [:edit, :admin, user, :alumni_membership]
    - else
      %li{class: ("active" if current == "new")}
        = link_to fa_icon("plus", text: "Join Alumni"), [:new, :admin, user, :alumni_membership]
