.row
  .form-group.col-md-3
    .input-group.input-group-lg
      %span.input-group-addon
        $
      %input.form-control#donation_amount{type:"text", name:"donation[amount]"}
  .form-group.col-md-8
    %br
    #donation_amount_slider

= simple_form_for donation, url: "/donate", html: { id: "donation_form" } do |f|
  = f.error_notification
  = f.button :submit, "I would like to donate $100 to the Breakthrough Men's Community", id: "submit_button", class: "btn btn-block btn-lg btn-primary"
