%h3 Dear Breakthrough Brother
%p
  Here it is - the brand new, improved, ultimate and expanded Alumni Membership program…hereby officially unveiled!
%p
  What’s new, you ask? Not only will you be staying connected with each other while helping Breakthrough keep the doors open, but you’ll also receive an extended list of valuable benefits.
%p
  Here are the new levels at which you can join – the higher the level of giving, the more the benefit:
%p
  = render "alumni_levels"
%p
  We hope you’ll accept this invitation to join, extend or update membership in the Alumni Association today.
%p
  Form the Community Life Committee,
%p
  Ron Gaasch
