.list-group
  #awesome-level
    %a.list-group-item.list-group-item-success
      %h4.list-group-item-heading
        Awesome Level
        %small ($10-40 monthly)
      %p.list-group-item-text
        Includes use of the Breakthrough Center (as available), IN Touch social site, FREE Breakthrough3 class (as often as you want), discounts on t-shirts, poetry books, CDs, Workshops and Events as well as a FREE Alumni Appreciation BBQ (not to mention your all new laminated, love infused membership card).
  #fantastic-level
    %a.list-group-item.list-group-item-info
      %h4.list-group-item-heading
        Fantastic Level
        %small ($50-90 monthly)
      %p.list-group-item-text
        This level also includes use of the Breakthrough Center, IN Touch social site, FREE Breakthrough3 class and at this level a t-shirt and poetry book as well as the January 2014 David Richo Daylong are all yours for FREE as well as a FREE Alumni Appreciation BBQ (and, of course, the afore mentioned love infused membership card).
  #magnificent-level
    %a.list-group-item.list-group-item-warning
      %h4.list-group-item-heading
        Magnificent Level
        %small ($100-175 monthly)
      %p.list-group-item-text
        All of the above AND David Richo 4-CD set, an Appreciation Dinner at the Center with Fred and one free session with Fred.
  #wild-and-wooly-level
    %a.list-group-item.list-group-item-danger
      %h4.list-group-item-heading
        Wild and Wooly Level
        %small ($200-250 monthly)
      %p.list-group-item-text
        All of the above AND the Summer Retreat…for FREE!
