%h1 Contact Us

%section.row
  .col-md-8
    %h4 We would love to hear from you!
    %p
      Please fill out this form and we will get in touch with you shortly.
    #contact
      = render "form", message: @message
  .col-md-4
    %aside
      %address
        %strong Email:
        %a{href: "mailto:info@breakthroughformen.org"} info@breakthroughformen.org
        %br/
        %strong Phone:
        831-375-5441
        %br/
        %strong Fax:
        831-250-7630
        %br/
        %strong Mail:
        %br/
        Breakthrough Men’s Community
        %br/
        1069 Broadway Ave #102
        %br/
        Seaside, CA 93955
        %br/
