%h1 Contact Us

%section.row
  .large-8.columns
    %h4 We would love to hear from you!
    %p
      Please fill out this form and we will get in touch with you shortly.
    #contact
      = render partial: "form"
  .large-4.columns
    %aside
      %ul
        %li
          %h3 Email:
          %a{href: "mailto:info@breakthroughformen.org"} info@breakthroughformen.org
        %li
          %h3 Phone:
          831-375-5441
        %li
          %h3 Fax:
          831-250-7630
        %li
          %h3  Mail:
          Breakthrough Men’s Community
          %br/
          24945 Valley Way Carmel CA 93923
