%table.table
  %thead
    %tr
      %th.col-md-4
      %th
  %tbody
    %tr
      %td Membership Level:
      %td
    %tr
      %td Membership Status:
      %td
    %tr
      %td Member Since:
      %td
    %tr
      %td Renewal due on:
      %td
