= nav_link_to fa_icon("users", text: "Users"), admin_users_path
= nav_link_to fa_icon("bullhorn", text: "Intro Meetings"), admin_intro_meetings_path
= nav_link_to fa_icon("book", text: "Workshops"), admin_workshops_path
