%li{class: active_path_class(:users)}
  = link_to fa_icon("users", text: "Users"), [:admin, :users]

%li{class: active_path_class(:intro_meetings)}
  = link_to fa_icon("bullhorn", text: "Intro Meetings"), [:admin, :intro_meetings]

%li{class: active_path_class(:workshops)}
  = link_to fa_icon("book", text: "Workshops"), [:admin, :workshops]
